@use "sass:color";
@use "./vars.scss" as *;

.koth-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 600px) {
    display: block;
  }
}

.koth-page-header {
  width: 100%;
  height: 25px;
  //display: flex;
  //justify-content: flex-end;
  //align-items: center;
  padding: 15px 0px;
  //background-color: color.adjust($gray, $lightness: -12%);
  @media only screen and (max-width: 600px) {
    display: none;
  }
  .koth-logo {
    float: left;
    font-weight: bold;
    color: #fff;
  }
}

.koth-board-wrapper {
  .koth-board {
    border: 10px solid color.adjust($gray, $lightness: -15%);
    border-image-slice: 1;
    border-left: none;
    border-right: none;
  }

  &.white-turn {
    .koth-board {
      border-bottom-color: $white-prime;
    }
    .koth-turn-info {
      background-color: $white-prime;
    }
  }

  &.black-turn {
    .koth-board {
      border-top-color: $black-prime;
    }
    .koth-turn-info {
      background-color: $black-prime;
    }
  }

  &.lg {
    margin-top: 80px;
    .koth-board {
      float: left;
    }
    .koth-board-info {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      padding-left: 20px;
      .koth-captured-pieces {
        height: 200px;
      }
    }
  }
  &.sm {
    .koth-board-info {
      margin-top: 15px;
      display: flex;
      align-content: space-between;
      gap: 20px;
    }
  }
}

.koth-board-info {
  display: grid;
  grid-template-columns: 100%;
  div {
    width: 100%;
  }
  .koth-captured-pieces {
    overflow-y: auto;
  }
  .koth-btn-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    button {
      padding: 6px;
    }
  }
}

.koth-turn-info {
  padding: 10px 0px;
  user-select: none;
  background-color: color.adjust($gray, $lightness: -15%);
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
}

.koth-captured-pieces {
  padding: 10px 0px;
  border: dashed 2px color.adjust($gray, $lightness: -15%);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.attention {
  animation: shake 0.5s;
  animation-delay: 1.5s;
  animation-iteration-count: 2;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(5deg);
  }
  25% {
    transform: translate(-1px, 0px) rotate(15deg) scale(1.3);
    background-color: $white-prime;
  }

  50% {
    transform: translate(-1px, 2px) rotate(-15deg) scale(0.7);
    background-color: $white-prime;
  }

  75% {
    transform: translate(3px, 1px) rotate(15deg) scale(1.2);
  }

  100% {
    transform: translate(1px, -2px) rotate(-5deg);
  }
}
