@use "sass:color";
@use "./vars.scss" as *;

.koth-page {
  background: $gray;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*align-items: center;*/
}

.koth-board-wrapper {
  &.lg {
    .koth-board {
      float: left;
    }
    .koth-board-info {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      padding-left: 20px;
      .koth-captured-pieces {
        height: 200px;
        width: 120px;
        border-radius: 5px;
        .piece {
          margin: 5px;
        }
      }
    }
  }
  &.sm {
    .koth-board-info {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.koth-board {
  border: 10px solid $gray;
  border-image-slice: 1;
  border-left: none;
  border-right: none;
  &.black-turn {
    border-top-color: $black-prime;
  }
  &.white-turn {
    border-bottom-color: $white-prime;
  }
}
