@use "sass:color";
@use "./_vars.scss" as *;

.koth-board-info {
  display: grid;
  grid-template-columns: 100%;
  div {
    width: 100%;
  }
  .koth-captured-pieces {
    overflow-y: auto;
  }
  .koth-btn-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    button {
      padding: 6px;
    }
  }
}

.koth-game-status {
  padding: 10px 0px;
  user-select: none;
  background-color: color.adjust($gray, $lightness: -15%);
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
}

.koth-captured-pieces {
  padding: 10px 0px;
  border: dashed 2px color.adjust($gray, $lightness: -15%);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/**
 * ANIMATIONS
 */

.attention {
  animation: shake 0.5s;
  animation-delay: 0s;
  animation-iteration-count: 2;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(5deg);
  }
  25% {
    transform: translate(-1px, 0px) rotate(20deg) scale(1.2);
    background-color: $white-prime;
  }

  50% {
    transform: translate(-1px, 2px) rotate(-5deg) scale(0.9);
    background-color: $white-prime;
  }

  75% {
    transform: translate(3px, 1px) rotate(5deg) scale(1.2);
  }

  100% {
    transform: translate(1px, -2px) rotate(-5deg);
  }
}

.bounce {
  animation: bounce 1s;
  animation-delay: 0s;
  animation-iteration-count: 2;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.2, 0.8) translateY(0);
  }
  30% {
    transform: scale(0.8, 1.1) translateY(-8px);
  }
  50% {
    transform: scale(1.1, 0.95) translateY(8px);
  }
  57% {
    transform: scale(1, 1) translateY(-4px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
