@use "sass:color";
@use "./_vars.scss" as *;

.koth-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 600px) {
    display: block;
  }
}

.koth-page-header {
  width: 100%;
  height: 25px;
  padding: 15px 0px;
  @media only screen and (max-width: 600px) {
    display: none;
  }
  .koth-logo {
    float: left;
    font-weight: bold;
    color: #fff;
  }
}

.koth-board-wrapper {
  .koth-board {
    border: 10px solid color.adjust($gray, $lightness: -15%);
    border-image-slice: 1;
    border-left: none;
    border-right: none;
  }

  &.white-turn {
    .koth-board {
      border-bottom-color: $white-prime;
    }
    .koth-game-status {
      background-color: $white-prime;
    }
  }

  &.black-turn {
    .koth-board {
      border-top-color: $black-prime;
    }
    .koth-game-status {
      background-color: $black-prime;
    }
  }

  &.lg {
    margin-top: 80px;
    .koth-board {
      float: left;
    }
    .koth-board-info {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      padding-left: 20px;
      .koth-captured-pieces {
        height: 200px;
      }
    }
  }
  &.sm {
    .koth-board-info {
      margin-top: 15px;
      display: flex;
      align-content: space-between;
      gap: 20px;
    }
  }
}
