@use "sass:color";
@use "./_vars.scss" as *;

.koth-tutorial {
  u {
    cursor: help;
  }
  .koth-tutorial-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .piece {
      transition: all 0.3s;
      filter: grayscale(100%);
      &:hover {
        transform: scale(1.2);
      }
    }
    .selected {
      .piece {
        filter: none;
        transform: scale(1.3);
      }
    }
  }

  .koth-tutorial-rules {
    margin: 15px auto;
    max-width: 450px;
  }

  .koth-tutorial-moves {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 20px;
    @media only screen and (max-width: 600px) {
      grid-template-columns: 100%;
      gap: 5px;
    }
  }
}
